# dependencies
/node_modules/

# dotenv environment variables
.env
.env.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# optional npm cache directory
.npm

# build directories
/dist
/build

# editor directories and files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# coverage
coverage/

.gemini/

.git/

.gitignore